header.header
    .header__container.container
        a.header__logo.logo(href="index.html")
            include ../components/logo
        nav.header__nav
            ul.header__nav__ul
                li
                    a(href="my-sexuality.html")
                        span ჩემი სექსუალობა
                    span.respoarrow
                    ul.innerul
                        .innerul__goback
                        each a, i in Array(5)
                            li.innerul__li
                                a(href="category2.html")= 'ქვეკატეგორია' + (i + 1)
                li
                    a(href="my-psychics.html")
                        span ჩემი ფსიქიკა
                    span.respoarrow
                    ul.innerul
                        .innerul__goback
                        each a, i in Array(5)
                            li.innerul__li
                                a(href="category2.html")= 'ქვეკატეგორია' + (i + 1)
                li
                    a(href="my-body.html")
                        span ჩემი სხეული
                    span.respoarrow
                    ul.innerul
                        .innerul__goback
                        each a, i in Array(5)
                            li.innerul__li
                                a(href="category2.html")= 'ქვეკატეგორია' + (i + 1)
                li
                    a(href="my-safeness.html")
                        span ჩემი უსაფრთხოება
                    span.respoarrow
                    ul.innerul
                        .innerul__goback
                        each a, i in Array(5)
                            li.innerul__li
                                a(href="category2.html")= 'ქვეკატეგორია' + (i + 1)
                li
                    a(href="my-story.html")
                        span ჩემი ამბავი
                    span.respoarrow
                    ul.innerul
                        .innerul__goback
                        each a, i in Array(5)
                            li.innerul__li
                                a(href="category2.html")= 'ქვეკატეგორია' + (i + 1)
                li
                    a(href="femea.html") FEMEA
        form#searchform.header__searchform(action="")
            input#search(type="text", name="search", placeholder="ძიება")
            button.header__searchform__icon.desktop(type='submit')
                include ../components/search
            button.header__searchform__icon__X(type='button')
                include ../components/searchx
        button.header__searchform__icon.mobile(type='submit', form='searchform')
            include ../components/search
        .hamburger
            div